@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

* {
  font-family: "Roboto";
  scroll-behavior: smooth;
  scrollbar-width: none;
}
